.wrapper {
    @apply grid gap-5 pb-3 border-solid border-BORDER_COLOR border-b-2 mb-7;
    grid-template-columns: max-content 1fr;

    @media screen and (max-width: 600px) {
        grid-template-columns: none;
        grid-template-rows: max-content 1fr;
        @apply justify-items-center;
    }
}

.image {
    @apply rounded-lg;

    @media screen and (max-width: 600px) {
        @apply w-96 h-auto;
    }
}

.description {
    @apply flex flex-col justify-between;
}

.title {
    @apply font-bold text-3xl;

    @media screen and (max-width: 700px) {
        @apply text-2xl;
    }
}

.date {
    @apply text-lg font-black text-BACKGROUND bg-FONT_DEFAULT px-2 rounded-2xl mr-6;
}

.category {
    @apply text-xl font-normal text-LIGHT_GREY;
}